Microservices/rentService/src/main/resources/wsdl/rent.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8081/request-schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8081/request-schema" targetNamespace="http://localhost:8081/request-schema">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8081/request-schema">
            <xs:element name="orderRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseList" type="tns:Purchase"/>
                        <xs:element name="bundle" type="xs:boolean"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ms_request_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="orderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="agent_request_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editStatusRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="agent_id" type="xs:long"/>
                        <xs:element name="status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Request">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseList" type="tns:Purchase"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Purchase">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="client" type="xs:string"/>
                    <xs:element name="id_add" type="xs:long"/>
                    <xs:element name="owner" type="xs:string"/>
                    <xs:element name="ordered" type="xs:boolean"/>
                    <xs:element name="date_from" type="xs:string"/>
                    <xs:element name="date_to" type="xs:string"/>
                    <xs:element name="brand_model" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="orderRequest">
        <wsdl:part element="tns:orderRequest" name="orderRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="orderResponse">
        <wsdl:part element="tns:orderResponse" name="orderResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editStatusRequest">
        <wsdl:part element="tns:editStatusRequest" name="editStatusRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RentPort">
        <wsdl:operation name="order">
            <wsdl:input message="tns:orderRequest" name="orderRequest"> </wsdl:input>
            <wsdl:output message="tns:orderResponse" name="orderResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editStatus">
            <wsdl:input message="tns:editStatusRequest" name="editStatusRequest"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RentPortSoap11" type="tns:RentPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="order">
            <soap:operation soapAction=""/>
            <wsdl:input name="orderRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="orderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editStatus">
            <soap:operation soapAction=""/>
            <wsdl:input name="editStatusRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RentPortService">
        <wsdl:port binding="tns:RentPortSoap11" name="RentPortSoap11">
            <soap:address location="http://localhost:8081/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>