Microservices/addvertismentService/src/main/resources/wsdl/add.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8081/add-schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8081/add-schema" targetNamespace="http://localhost:8081/add-schema">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8081/add-schema">
            <xs:element name="addMSRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="add" type="tns:Add"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ms_id" type="xs:long"/>
                        <xs:element name="agent_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Add">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="priceList_id" type="xs:long"/>
                    <xs:element name="addvertiser_id" type="xs:string"/>
                    <xs:element name="brand_id" type="xs:long"/>
                    <xs:element name="vehicle_model_id" type="xs:long"/>
                    <xs:element name="vehicle_class_id" type="xs:long"/>
                    <xs:element name="transmission_type_id" type="xs:long"/>
                    <xs:element name="fuel_type_id" type="xs:long"/>
                    <xs:element name="mileage" type="xs:float"/>
                    <xs:element name="mileage_limit" type="xs:float"/>
                    <xs:element name="cdw" type="xs:boolean"/>
                    <xs:element name="child_seats" type="xs:int"/>
                    <xs:element name="location" type="xs:string"/>
                    <xs:element name="price" type="xs:float"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="images" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="reservedDates" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!-- //////////////////////////////  PRICELIST    ///////////////////////////////////////// -->
            <xs:complexType name="PricelistSoap">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="dailyPrice" type="xs:float"/>
                    <xs:element name="overlimitPrice" type="xs:float"/>
                    <xs:element name="cdwPrice" type="xs:float"/>
                    <xs:element name="discount" type="xs:float"/>
                    <xs:element name="numberOfDays" type="xs:int"/>
                    <xs:element name="username" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="pricelistMSRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pricelist" type="tns:PricelistSoap"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pricelistMSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ms_id" type="xs:long"/>
                        <xs:element name="agent_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="pricelistMSResponse">
        <wsdl:part element="tns:pricelistMSResponse" name="pricelistMSResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addMSResponse">
        <wsdl:part element="tns:addMSResponse" name="addMSResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pricelistMSRequest">
        <wsdl:part element="tns:pricelistMSRequest" name="pricelistMSRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addMSRequest">
        <wsdl:part element="tns:addMSRequest" name="addMSRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AddPort">
        <wsdl:operation name="pricelistMS">
            <wsdl:input message="tns:pricelistMSRequest" name="pricelistMSRequest"> </wsdl:input>
            <wsdl:output message="tns:pricelistMSResponse" name="pricelistMSResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMS">
            <wsdl:input message="tns:addMSRequest" name="addMSRequest"> </wsdl:input>
            <wsdl:output message="tns:addMSResponse" name="addMSResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddPortSoap11" type="tns:AddPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="pricelistMS">
            <soap:operation soapAction=""/>
            <wsdl:input name="pricelistMSRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pricelistMSResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMS">
            <soap:operation soapAction=""/>
            <wsdl:input name="addMSRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addMSResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddPortService">
        <wsdl:port binding="tns:AddPortSoap11" name="AddPortSoap11">
            <soap:address location="http://localhost:8081/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>